
  <ion-item 
  [routerLink]="['/','places', 'tabs', 'offers', offer.id]">
  <ion-thumbnail slot ="start">
    <ion-img [src] = "offer.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <div class = "offer-details">
      <h1>{{offer.title}}</h1>
      <div>
        <ion-icon name ="calenda" ></ion-icon>
        <ion-text color = "primary" class="space-left">{{getDummyDate() | date}}</ion-text>
        <span class="space-left"> to</span>
        <ion-icon name ="calenda" class="space-left"></ion-icon>
        <ion-text color = "primary" class="space-left">{{getDummyDate() | date}}</ion-text>
      </div>  
  </div>
    <!-- <p>{{offer.description}}</p> -->
  </ion-label>
  </ion-item>
